<%- include('partials/header') %>

<div class="container">

    <div class="form-layout">
    
        <div class="form-top"> 
            <h1 class="form-title">Coliseum</h1>
            <div class="icons">
                <img class="icon" src="Shield.png"/>
                <img class="icon-mid" src="Friends.png"/>
                <img class="icon" src="Sword.png"/>
            </div>

        </div>

        <div class="form-sec">
           
            <form action="/register" method="POST">
                <label>
                    <input class="form-input" type="text" placeholder="Full Name" name="name">
                </label>

                <label>
                    <input class="form-input" type="text" placeholder="Username" name="username">
                </label>

                <label>
                    <input class="form-input" type="password" placeholder="Password" name="password">
                </label>

                <button type="submit" class="btn btn-primary">Sign Up!</button>

            </form>
        </div>

        <div class="form-section-three">
            <img class="icon" src="Coliseum Logo.png"/>
            <p class="form-text">Join or compete against your friends to complete daily task and challenges for glory!</p>
            <p class="account-text">Already have an account?</p>
            <p><a class="login-link" href="/login">Log In!</a></p>

        </div>

</div>

    <div>
        <p class="form-footer">© 2020 Zaltick</p>
    </div>

</div>


<%- include('partials/header') %>
